section.fact
    .container
        .title
            h2.title.title__header Some Fun Facts
            .title--with-bottom-line 
                i(class="fa fa-heart-o" aria-hidden="true")
        ul.fact__list
            li.fact__item
                i.fact__icon.fa.fa-clock-o(aria-hidden="true")
                div
                    h3.fact__header 3200
                    p.fact__discription Hours of Work
            li.fact__item
                i.fact__icon.fa.fa-users(aria-hidden="true")
                div
                    h3.fact__header 120 
                    p.fact__discription Satisfied Clinets
            li.fact__item
                i.fact__icon.fa.fa-rocket(aria-hidden="true")
                div
                    h3.fact__header 360
                    p.fact__discription Projects delivered
            li.fact__item
                i.fact__icon.fa.fa-trophy(aria-hidden="true")
                div
                    h3.fact__header 42
                    p.fact__discription Awards Won