section.features
    .container
        .title
            h2.title.title__header Features
            .title--with-bottom-line 
                i(class="fa fa-heart-o" aria-hidden="true")
        #some-slider-one.owl-carousel.owl-theme
            .features__list
                .features__item
                    .icon.icon-feather
                    div
                        h3.features__header Branding
                        p.features__description
                            | Sed ut perspiciatis unde omnis iste natus error sit 
                            | voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                            | eaque ipsa quae ab illo inventore
            .features__list
                .features__item
                    .icon.icon-pencil
                    div
                        h3.features__header Development
                        p.features__description
                            | Sed ut perspiciatis unde omnis iste natus error sit 
                            | voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                            | eaque ipsa quae ab illo inventore
            .features__list
                .features__item
                    .icon.icon-megaphone
                    div
                        h3.features__header Consulting
                        p.features__description
                            | Sed ut perspiciatis unde omnis iste natus error sit 
                            | voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                            | eaque ipsa quae ab illo inventore
            .features__list
                .features__item
                    .icon.icon-feather
                    div
                        h3.features__header Branding
                        p.features__description
                            | Sed ut perspiciatis unde omnis iste natus error sit 
                            | voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                            | eaque ipsa quae ab illo inventore
            .features__list
                .features__item
                    .icon.icon-pencil
                    div
                        h3.features__header Development
                        p.features__description
                            | Sed ut perspiciatis unde omnis iste natus error sit 
                            | voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                            | eaque ipsa quae ab illo inventore
            .features__list
                .features__item
                    .icon.icon-megaphone
                    div
                        h3.features__header Consulting
                        p.features__description
                            | Sed ut perspiciatis unde omnis iste natus error sit 
                            | voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                            | eaque ipsa quae ab illo inventore
            .features__list
                .features__item
                    .icon.icon-feather
                    div
                        h3.features__header Branding
                        p.features__description
                            | Sed ut perspiciatis unde omnis iste natus error sit 
                            | voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                            | eaque ipsa quae ab illo inventore
            .features__list
                .features__item
                    .icon.icon-pencil
                    div
                        h3.features__header Development
                        p.features__description
                            | Sed ut perspiciatis unde omnis iste natus error sit 
                            | voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                            | eaque ipsa quae ab illo inventore
            .features__list
                .features__item
                    .icon.icon-megaphone
                    div
                        h3.features__header Consulting
                        p.features__description
                            | Sed ut perspiciatis unde omnis iste natus error sit 
                            | voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                            | eaque ipsa quae ab illo inventore