section.footer
    .container
        .footer__content
            .footer__brand 
                span.logo Brandi
                p.footer__discription   eusmod tempor incididunt ut labore et dolore magna aliqua. 
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    | laboris nisi ut aliquip ex ea commodo consequat.
            .footer__subscribe
                p.footer__title Subscribe
                div.subscribe
                    form.subscribe__send(action="#" method="post")
                        input.subscribe__input#input(type="text" placeholder="" onkeyup="check();")
                        input.subscribe__button#button(type="submit" value="" disabled="disabled")
                p   usmod tempor incididunt ut labore et dolore magna aliqua.
            .footer__explore
                p.footer__title Explore
                    ul.companylist
                        li 
                            span Envato
                        li 
                            span Themecurve
                        li
                            span Kreativeshowcase
                        li 
                            span Freebiescurve
                        li 
                            span Themeforest
                        li 
                            span Microsoft
                        li 
                            span Google
                        li 
                            span Yahoo
            .footer__create 
                p   Created with 
                    span 
                        i.fa.fa-heart-o.heart(aria-hidden="true")
                    |   by 
                    span.theme themecurve 
                    span ,  exclusive for kreativeshowcase
                p.footer__copyright   © 2014 Brandi. All Rights Reserved.