#style-selector-control.map-control
    select#style-selector.selector-control
        option(value="default") Default
        option(value="silver" selected="selected") Silver
        option(value="night") Night mode
        option(value="retro") Retro
        option(value="hiding") Hide features
#map