section.works
    .container
        .title
            h2.title.title__header Works
            .title--with-bottom-line 
                i(class="fa fa-heart-o" aria-hidden="true")
            p.works__description
                |   Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                |   accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
    include workimages.pug