section.content
    .container
        .controls
            button.control.control--active(type="button" data-filter="all") All
            button.control(type="button" data-filter=".branding") Branding
            button.control(type="button" data-filter=".web") Web
            button.control(type="button" data-filter=".logodesign") Logo Design
            button.control(type="button" data-filter=".photography") Photography
    ul.portfolio
        li.mix.branding
            img.work(src="/images/img8.png", alt="")
        li.mix.web
            img.work(src="/images/img7.png", alt="")
        li.mix.photography
            img.work(src="/images/img6.png", alt="")
            .picture
                img.picture__icon(src="/images/icons/eye.png", alt="")
                h4.picture__title Labore et dolore magnam
                p.picture__discription Photography
        li.mix.logodesign
            img.work(src="/images/img5.png", alt="")
        li.mix.photography
            img.work(src="/images/img4.png", alt="")
        li.mix.logodesign
            img.work(src="/images/img3.png", alt="")
        li.mix.branding
            img.work(src="/images/img2.png", alt="")
        li.mix.web
            img.work(src="/images/img1.png", alt="")
        
