@font-face {
    font-family: "pacifico";
    src: local('Pacifico'),
    url("fonts/pacifico.ttf") format("ttf");
}
@font-face {  
    font-family: "myriadpro";
    src: local('Myriad Pro'), 
    url('../fonts/myriadpro.ttf') format("ttf");
}
@font-face {  
    font-family: "opensans";
    src: local('Open Sans'),
    url('../fonts/opensans-bold.ttf');
    font-weight: 300;
}
@font-face {  
    font-family: "opensanslight";
    src: local('Open Sans'),
    url('../fonts/opensans-light.ttf');
}
  
  

    

  

      